@model MyDemoWebApplication.Models.NotesViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="row">
        <div class="col-md-9">
            @{
                <form method="post" action="@Url.Action("AddNote", "Notes")">
                    <div class="modal-content  text-center p-5">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h2 class="modal-title txt-secondary mt-5">Add Note</h2>
                            <button type="button" class="close" data-dismiss="modal">
                                <i class="close-icon"></i>
                            </button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <div class="form-group">
                                <p class="mx-md-5">
                                    <div class="form-group row">
                                        <div class="col-12">
                                            <h2 class="mb-1 mt-4">
                                                @Html.HiddenFor(model => model.NoteID)
                                                @Html.TextBoxFor(model => model.Note, new { @placeholder = "Note" })
                                            </h2>
                                        </div>
                                    </div>
                                </p>
                            </div>
                        </div>

                        <div class="modal-footer d-flex justify-content-center mb-md-5">
                            <input type="submit" value="Save">
                        </div>
                    </div>
                </form>
            }
        </div>
    </div>
</body>
</html>
